.post-intro {
  padding: 53px 0;
  &__inner {
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    display: flex;
    column-gap: 80px;
    li {
      display: flex;
      align-items: center;
      line-height: 0;
      column-gap: 20px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: normal;
      font-size: 13px;

      letter-spacing: 0.2px;

      img {
        display: block;
      }
    }
  }
  &__rev {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;

    letter-spacing: 0.2px;
  }
}
